/plugins/org.eclipse.mylyn.docs.intent/bin
/plugins/org.eclipse.mylyn.docs.intent.client.compiler/bin
/plugins/org.eclipse.mylyn.docs.intent.client.indexer/bin
/plugins/org.eclipse.mylyn.docs.intent.client.synchronizer/bin
/plugins/org.eclipse.mylyn.docs.intent.client.ui/bin
/plugins/org.eclipse.mylyn.docs.intent.client.ui.cdo/bin
/plugins/org.eclipse.mylyn.docs.intent.client.ui.ide/bin
/plugins/org.eclipse.mylyn.docs.intent.collab/bin
/plugins/org.eclipse.mylyn.docs.intent.collab.cdo/bin
/plugins/org.eclipse.mylyn.docs.intent.collab.common/bin
/plugins/org.eclipse.mylyn.docs.intent.collab.ide/bin
/plugins/org.eclipse.mylyn.docs.intent.compare/bin
/plugins/org.eclipse.mylyn.docs.intent.core/bin
/plugins/org.eclipse.mylyn.docs.intent.markup/bin
/plugins/org.eclipse.mylyn.docs.intent.markup.gen/bin
/plugins/org.eclipse.mylyn.docs.intent.parser/bin
/tests/org.eclipse.mylyn.docs.intent.collab.test/bin
/tests/org.eclipse.mylyn.docs.intent.markup.test/bin
/tests/org.eclipse.mylyn.docs.intent.parser.test/bin
/tests/org.eclipse.mylyn.docs.intent.client.ui.test/bin
/examples/org.eclipse.mylyn.docs.intent.retro/bin
/plugins/org.eclipse.mylyn.docs.intent/target
/plugins/org.eclipse.mylyn.docs.intent.client.compiler/target
/plugins/org.eclipse.mylyn.docs.intent.client.indexer/target
/plugins/org.eclipse.mylyn.docs.intent.client.synchronizer/target
/plugins/org.eclipse.mylyn.docs.intent.client.ui/target
/plugins/org.eclipse.mylyn.docs.intent.client.ui.cdo/target
/plugins/org.eclipse.mylyn.docs.intent.client.ui.ide/target
/plugins/org.eclipse.mylyn.docs.intent.collab/target
/plugins/org.eclipse.mylyn.docs.intent.collab.cdo/target
/plugins/org.eclipse.mylyn.docs.intent.collab.common/target
/plugins/org.eclipse.mylyn.docs.intent.collab.ide/target
/plugins/org.eclipse.mylyn.docs.intent.compare/target
/plugins/org.eclipse.mylyn.docs.intent.core/target
/plugins/org.eclipse.mylyn.docs.intent.markup/target
/plugins/org.eclipse.mylyn.docs.intent.markup.gen/target
/plugins/org.eclipse.mylyn.docs.intent.parser/target
/tests/org.eclipse.mylyn.docs.intent.collab.test/target
/tests/org.eclipse.mylyn.docs.intent.markup.test/target
/tests/org.eclipse.mylyn.docs.intent.parser.test/target
/tests/org.eclipse.mylyn.docs.intent.client.ui.test/target
/examples/org.eclipse.mylyn.docs.intent.retro/target
features/org.eclipse.mylyn.docs.intent-feature/target/
features/org.eclipse.mylyn.docs.intent.markup-feature/target/
features/org.eclipse.mylyn.docs.intent.retro-feature/target/
features/org.eclipse.mylyn.docs.intent.tests-feature/
features/org.eclipse.mylyn.docs.intent.update/target/