<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="org.eclipse.mylyn.docs.intentexport.ui"
            objectClass="org.eclipse.core.resources.IProject"> <!-- Currently textile only -->
         <action
               label="Export Intent Documentation as HTML"
               class="org.eclipse.mylyn.docs.intent.exporter.ui.popup.actions.ExportIntentDocumentationAction"
               menubarPath="additions"
               enablesFor="1"
               id="org.eclipse.mylyn.docs.intent.exporter.ui.action.html">
         </action>
               </objectContribution>
   </extension>
</plugin>
