<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
      point="org.eclipse.ui.menus">
   <menuContribution
         locationURI="popup:org.eclipse.mylyn.docs.intent.client.ui.ide.menu">
      <command
            commandId="org.eclipse.mylyn.docs.intent.export.exportHTML"
            icon="icon/html_tag_obj.gif"
            label="Export Intent Documentation as HTML"
            style="push">
         <visibleWhen
               checkEnabled="false">
            <iterate
                  operator="and">            <test
                  forcePluginActivation="true"
                  property="org.eclipse.mylyn.docs.intent.client.ui.ide.isIntentStructuredElement">
            </test></iterate>

         </visibleWhen>
      </command>
   </menuContribution>
       <menuContribution
             allPopups="false"
             locationURI="popup:org.eclipse.ui.popup.any?after=additions">
          <menu
                icon="icon/toggle_nature.gif"
                id="org.eclipse.mylyn.docs.intent.client.ui.ide.menu.file"
                label="Intent">
             <visibleWhen
                   checkEnabled="false">
                <with
                    variable="selection">
                 <iterate
                       ifEmpty="false"
                       operator="or">
                    <adapt
                          type="org.eclipse.core.resources.IFile">
                          <test
                                property="org.eclipse.core.resources.extension"
                                value="export">
                          </test>
                    </adapt>
                 </iterate>
              </with>
             </visibleWhen>
          </menu>
        <command
            commandId="org.eclipse.mylyn.docs.intent.export.runBatchExport"
            icon="icon/html_tag_obj.gif"
            label="Launch Exports"
            style="push">
         <visibleWhen
               checkEnabled="false">
                <with
                    variable="selection">
                 <iterate
                       ifEmpty="false"
                       operator="or">
                    <adapt
                          type="org.eclipse.core.resources.IFile">
                          <test
                                property="org.eclipse.core.resources.extension"
                                value="export">
                          </test>
                    </adapt>
                 </iterate>
              </with>
         </visibleWhen>
      </command>
       </menuContribution>
</extension>
<extension
      point="org.eclipse.ui.commands">
   <command
         defaultHandler="org.eclipse.mylyn.docs.intent.exporter.ui.popup.actions.ExportIntentDocumentationAction"
         id="org.eclipse.mylyn.docs.intent.export.exportHTML"
         name="Export Intent Documentation as HTML">
   </command>
   <command
         defaultHandler="org.eclipse.mylyn.docs.intent.exporter.ui.popup.actions.RunBatchExportAction"
         id="org.eclipse.mylyn.docs.intent.export.runBatchExport"
         name="Run Batch Export">
   </command>
</extension>
<extension
      point="org.eclipse.ui.views">
   <view
         allowMultiple="false"
         category="org.eclipse.mylyn.docs.intent.ui.intentviews"
         class="org.eclipse.mylyn.docs.intent.exporter.ui.IntentPreviewView"
         icon="icon/html_tag_obj.gif"
         id="org.eclipse.mylyn.docs.intent.exporter.ui.preview"
         name="Intent Preview"
         restorable="true">
      <description>
         A view allowing to get an HTML Preview of the currently opened Intent documentation part.
      </description>
   </view>
</extension>
</plugin>
