<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/intent/bridges/java/0.8"
            class="org.eclipse.mylyn.docs.intent.bridge.java.JavaPackage"
            genModel="model/java.genmodel"/>
   </extension>

   <!-- Registering a ResourceFactory allowing to represent Java files/classes/methods as model -->
   <extension
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            class="org.eclipse.mylyn.docs.intent.bridge.java.resource.factory.JavaResourceFactory"
            type="java">
      </parser>
   </extension>
   
   <!-- Registering a synchronizer extension to detect changes made on java classes in real-time -->
   <extension
         point="org.eclipse.mylyn.docs.intent.client.synchronizer.extension">
      <SynchronizerExtensionDescription
            class="org.eclipse.mylyn.docs.intent.bridge.java.listeners.JavaElementListener">
      </SynchronizerExtensionDescription>
   </extension>
   
   <!-- Providing an editor extension to provide advanced DnD, hyperlink detections & image rendering -->
   <extension
         point="org.eclipse.mylyn.docs.intent.client.ui.editorrendererextension">
      <EditorRendererExtension
            class="org.eclipse.mylyn.docs.intent.bridge.java.ui.renderers.JavaEditorRendererExtension"
            priority="2">
      </EditorRendererExtension>
   </extension>


</plugin>
