<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.content_parser">
      <parser
            class="org.eclipse.mylyn.docs.intent.bridge.java.resource.factory.JavaResourceFactory"
            contentTypeIdentifier="org.eclipse.mylyn.docs.intent.bridge.java.javacontent">
      </parser>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            file-extensions="java"
            id="org.eclipse.mylyn.docs.intent.bridge.java.javacontent"
            name="Java content"
            priority="normal">
      </content-type>
   </extension>
   <extension
         point="org.eclipse.mylyn.docs.intent.client.synchronizer.extension">
      <SynchronizerExtensionDescription
            class="org.eclipse.mylyn.docs.intent.bridge.java.listeners.JavaElementListener">
      </SynchronizerExtensionDescription>
   </extension>
   <extension
         point="org.eclipse.mylyn.docs.intent.client.ui.editorrendererextension">
      <EditorRendererExtension
            class="org.eclipse.mylyn.docs.intent.bridge.java.ui.renderers.JavaEditorRendererExtension">
      </EditorRendererExtension>
   </extension>

</plugin>
