<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
Copyright (c) 2011 Obeo.
All rights reserved. This program and the accompanying materials
are made available under the terms of the Eclipse Public License v1.0
which accompanies this distribution, and is available at
http://www.eclipse.org/legal/epl-v10.html

Contributors:
    Obeo - initial API and implementation
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="http://www.eclipse.org/mylyn/intent/retro"
            class="org.eclipse.mylyn.docs.intent.retro.RetroPackage"
            genModel="model/retro.genmodel"/>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.protocol_parser">
      <parser
            class="org.eclipse.mylyn.docs.intent.retro.ProtocolFactory"
            protocolName="retro">
      </parser>
   </extension>
   <extension
         point="org.eclipse.mylyn.docs.intent.client.synchronizer.extension">
      <SynchronizerExtensionDescription
            class="org.eclipse.mylyn.docs.intent.retro.RetroGeneratedElementListener"
            handled_uri_scheme="retro">
      </SynchronizerExtensionDescription>
   </extension>
</plugin>
