<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target name="Kepler - EEF SDK" sequenceNumber="5">
<locations>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.mylyn.wikitext_feature.feature.group" version="1.8.0.I20130205-1655"/>
<unit id="org.eclipse.emf.sdk.feature.group" version="2.9.0.v20130204-1146"/>
<unit id="org.eclipse.emf.transaction.sdk.feature.group" version="1.7.0.201212181754"/>
<unit id="org.eclipse.emf.validation.sdk.feature.group" version="1.7.0.201212181556"/>
<unit id="org.eclipse.xtext.ui.feature.group" version="2.4.0.v201302051002"/>
<unit id="org.eclipse.xtext.runtime.feature.group" version="2.4.0.v201302051002"/>
<unit id="org.eclipse.xtext.xbase.feature.group" version="2.4.0.v201302051002"/>
<unit id="org.eclipse.xtext.examples.feature.group" version="2.4.0.v201302051002"/>
<unit id="org.eclipse.acceleo.feature.group" version="3.4.0.201302050830"/>
<unit id="org.eclipse.emf.compare.feature.group" version="2.1.0.201302050831"/>
<unit id="org.eclipse.emf.compare.ide.ui.feature.group" version="2.1.0.201212180932"/>
<repository location="http://download.eclipse.org/releases/kepler"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.jdt.feature.group" version="3.8.1.v20120814-104540-8-8nFqpFNOfwKDRVz-tXOcL5d_83"/>
<repository location="http://download.eclipse.org/releases/juno"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.emf.cdo.sdk.feature.group" version="4.0.0.v20120214-1021"/>
<repository location="http://download.eclipse.org/releases/indigo"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="com.google.collect" version="1.0.0.v201003051000"/>
<unit id="org.junit" version="4.8.1.v4_8_1_v20100427-1100"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/updateSite"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.swtbot.eclipse.feature.group" version="2.0.5.20111003_1754-3676ac8-dev-e36"/>
<unit id="org.eclipse.swtbot.ide.feature.group" version="2.0.5.20111003_1754-3676ac8-dev-e36"/>
<unit id="org.eclipse.swtbot.eclipse.test.junit3.feature.group" version="2.0.5.20111003_1754-3676ac8-dev-e36"/>
<unit id="org.eclipse.swtbot.eclipse.test.junit4.feature.group" version="2.0.5.20111003_1754-3676ac8-dev-e36"/>
<unit id="org.eclipse.swtbot.feature.group" version="2.0.5.20111003_1754-3676ac8-dev-e36"/>
<repository location="http://download.eclipse.org/technology/swtbot/helios/dev-build/update-site"/>
</location>
<location includeAllPlatforms="true" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.ide" version="3.8.1.M20120914-1540"/>
<repository location="http://download.eclipse.org/eclipse/updates/3.8"/>
</location>
</locations>
</target>
