<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="html/toc.xml"
            primary="false">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.cheatsheets.cheatSheetContent">
      <category
            id="org.eclipse.mylyn.docs.intent.idoc.cheatsheet"
            name="Mylyn Intent">
      </category>
      <cheatsheet
            category="org.eclipse.mylyn.docs.intent.idoc.cheatsheet"
            composite="false"
            contentFile="cheatsheets/Intent_GetStarted.xml"
            id="org.eclipse.mylyn.docs.intent.idoc.cheatsheet.getstarted"
            name="Mylyn Intent - Getting Started">
      </cheatsheet>
   </extension>

</plugin>
