<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.protocol_parser">
      <parser
            class="org.eclipse.mylyn.docs.intent.client.compiler.externalcontent.ExternalContentResourceFactory"
            protocolName="externalFile">
      </parser>
   </extension>

</plugin>
