<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            objectClass="org.eclipse.core.resources.IFile"
            id="org.eclipse.mylyn.docs.intent.markup.ui.contribution1"
            nameFilter="*.textile"> <!-- Currently textile only -->
         <menu
               label="Intent"
               path="additions"
               id="org.eclipse.mylyn.docs.intent.markup.ui.menu">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               label="Generate LaTeX"
               class="org.eclipse.mylyn.docs.intent.markup.ui.popup.actions.GenerateLatexAction"
               menubarPath="org.eclipse.mylyn.docs.intent.markup.ui.menu/group1"
               enablesFor="1"
               id="org.eclipse.mylyn.docs.intent.markup.ui.action.latex">
         </action>
         <action
               label="Generate HTML"
               class="org.eclipse.mylyn.docs.intent.markup.ui.popup.actions.GenerateHtmlAction"
               menubarPath="org.eclipse.mylyn.docs.intent.markup.ui.menu/group1"
               enablesFor="1"
               id="org.eclipse.mylyn.docs.intent.markup.ui.action.html">
         </action>
      </objectContribution>
   </extension>
</plugin>
