<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
     <extension-point id="org.eclipse.mylyn.docs.intent.client.ui.ide.template.extension" name="org.eclipse.mylyn.docs.intent.client.ui.ide.template.extension" schema="schema/org.eclipse.mylyn.docs.intent.client.ui.ide.template.exsd"/>
     
   <!-- EXTENSIONS OF THE PROJECT EXPLORER -->
    <extension
          point="org.eclipse.ui.navigator.viewer">
        <viewer
              helpContext="org.eclipse.ui.navigator.ProjectExplorer.help"
              inheritBindingsFromViewer="org.eclipse.ui.navigator.ProjectExplorer"
              viewerId="org.eclipse.ui.navigator.ProjectExplorer">
       </viewer>
       <viewerContentBinding
             viewerId="org.eclipse.ui.navigator.ProjectExplorer">
          <includes>
             <contentExtension
                   isRoot="false"
                   pattern="org.eclipse.mylyn.docs.intent.client.ui.ide.RepositoryContent">
             </contentExtension>
          </includes>
       </viewerContentBinding>
     
    </extension>
    <extension
          point="org.eclipse.ui.navigator.navigatorContent">
       <navigatorContent
             activeByDefault="true"
             contentProvider="org.eclipse.mylyn.docs.intent.client.ui.ide.navigator.RepositoryContentProvider"
             icon="icon/ide/workspaceicon.gif"
             id="org.eclipse.mylyn.docs.intent.client.ui.ide.RepositoryContent"
             labelProvider="org.eclipse.mylyn.docs.intent.client.ui.ide.navigator.RepositoryLabelProvider"
             name="Repository Content"
             priority="highest"
             providesSaveables="false">
          <triggerPoints>
 			<or>
            	<adapt type="org.eclipse.core.resources.IProject">
                	<and>
                    	<test
                        	property="org.eclipse.core.resources.projectNature"
                            value="org.eclipse.mylyn.docs.intent.client.ui.ide.intentNature">
                        </test>
                    </and>
                </adapt>                
            </or>
          </triggerPoints>
 		<possibleChildren>
        	<or>
            <instanceof
                  value="org.eclipse.mylyn.docs.intent.core.indexer.IntentIndex">
            </instanceof>
            <instanceof
                  value="org.eclipse.mylyn.docs.intent.core.indexer.IntentIndexEntry">
            </instanceof>         
        	</or>
     	</possibleChildren>
          <actionProvider
                class="org.eclipse.mylyn.docs.intent.client.ui.ide.navigator.RepositoryActionProvider">
          </actionProvider>
       </navigatorContent>
    </extension>
    <extension
          point="org.eclipse.ui.popupMenus">
       <objectContribution
             adaptable="true"
             id="org.eclipse.mylyn.docs.intent.client.ui.ide.contribution1"
             nameFilter="*"
             objectClass="org.eclipse.core.resources.IProject">
          <action
                class="org.eclipse.mylyn.docs.intent.client.ui.ide.builder.ToggleNatureAction"
                enablesFor="+"
                icon="icon/ide/toggle_nature.gif"
                id="org.eclipse.mylyn.docs.intent.client.ui.ide.addRemoveNatureAction"
                label="Add/Remove Intent Nature"
                menubarPath="additions">
          </action>
       </objectContribution>
    </extension>
    <extension
          id="intentBuilder"
          name="Intent Project Builder"
          point="org.eclipse.core.resources.builders">
       <builder
             hasNature="true">
          <run
                class="org.eclipse.mylyn.docs.intent.client.ui.ide.builder.IntentBuilder">
          </run>
       </builder>
    </extension>
    <extension
          id="intentNature"
          name="Intent Project Nature"
          point="org.eclipse.core.resources.natures">
       <runtime>
          <run
                class="org.eclipse.mylyn.docs.intent.client.ui.ide.builder.IntentNature">
          </run>
       </runtime>
       <builder
             id="org.eclipse.mylyn.docs.intent.client.ui.ide.intentBuilder">
       </builder>
    </extension>
    <extension
          id="xmlProblem"
          name="XML Problem"
          point="org.eclipse.core.resources.markers">
       <super
             type="org.eclipse.core.resources.problemmarker">
       </super>
       <persistent
             value="true">
       </persistent>
    </extension>
    <extension
          point="org.eclipse.ui.ide.projectNatureImages">
       <image
             icon="icon/ide/nature.gif"
             id="org.eclipse.mylyn.docs.intent.client.ui.ide.intentNatureImage"
             natureId="org.eclipse.mylyn.docs.intent.client.ui.ide.intentNature">
       </image>
    </extension>
    <extension
          point="org.eclipse.ui.newWizards">
       <category
             id="org.eclipse.mylyn.docs.intent.client.ui.ide"
             name="Intent">
       </category>
       <wizard
             category="org.eclipse.mylyn.docs.intent.client.ui.ide"
             class="org.eclipse.mylyn.docs.intent.client.ui.ide.wizards.NewIntentProjectWizard"
             icon="icon/ide/toggle_nature.gif"
             id="org.eclipse.mylyn.docs.intent.client.ui.ide.wizards.NewIntentProjectWizard"
             name="Intent project"
             project="true">
       </wizard>
    </extension>
    <extension
          point="org.eclipse.mylyn.docs.intent.client.ui.ide.template.extension">
       <IntentDocumentTemplate
             description="A simple Intent document."
             name="Default template"
             template="templates/default.intent">
       </IntentDocumentTemplate>
    </extension>
    <extension
          point="org.eclipse.mylyn.docs.intent.client.ui.ide.template.extension">
       <IntentDocumentTemplate
             description="This templates helps initializing a documentation of a standard software."
             name="Standard Software Template"
             template="templates/software.intent">
       </IntentDocumentTemplate>
    </extension>
    <extension
          point="org.eclipse.mylyn.docs.intent.collab.repository.extension">
       <Repository
             id="org.eclipse.mylyn.docs.intent.collab.ide.repository"
             repositoryCreatorClass="org.eclipse.mylyn.docs.intent.client.ui.ide.repository.IntentWorkspaceRepositoryCreator"
             repositoryStructurerClass="org.eclipse.mylyn.docs.intent.client.ui.ide.repository.IntentWorkspaceRepositoryStructurer">
       </Repository>
    </extension>
   
   
   
   

</plugin>
