<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.mylyn.docs.intent.example.category"
            name="Intent"
           parentCategory="org.eclipse.ui.Examples"/>
   </extension>

</plugin>
